.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

// Generic box
.box {
    position: relative;
    float: left;
    margin: 0 $gutterD2 $gutter;
    @include bp-xs {
        margin: 0 0 $gutter;
    }
    &::before {
        position: absolute;
        content: '';
        background-color: $primary-color-dark;
        bottom: 0;
        left: 0;
        box-shadow: $box-shadow;
    }
    .left {
        overflow: hidden;
        position: absolute;
        top: $depth;
        left: 0;
        background-color: $primary-color-shade-1;
        transform: skewY(-45deg);
        transform-origin: 0 0;
    }
    .bottom {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $primary-color-shade-2;
        transform: skewX(-45deg);
        transform-origin: 0 0;
    }
    .box-content {
        background-color: $primary-color-dark;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: $depth;
        overflow: hidden;
        z-index: 1;
    }
    .small-heading,
    .medium-heading {
        color: $accent-color;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        margin: 0 0 .1em;
        text-shadow: -1px 1px 0 darken($accent-color-shade-1, 1%), -2px 2px 0 darken($accent-color-shade-1, 2%), -3px 3px 0 darken($accent-color-shade-1, 5%), -4px 4px 3px rgba(0, 0, 0, $text-shadow-alpha), -4px 4px 3px rgba(0, 0, 0, $text-shadow-alpha), 0px 0px 3px rgba(0, 0, 0, .2);
        user-select: none;
        letter-spacing: 1px;
    }
    .small-heading {
        margin: .5em 0 .1em;
        text-shadow: -1px 1px 0 darken($accent-color-shade-1, 1%), -2px 2px 0 darken($accent-color-shade-1, 2%), -3px 3px 2px rgba(0, 0, 0, $text-shadow-alpha), -3px 3px 3px rgba(0, 0, 0, $text-shadow-alpha), 0px 0px 2px rgba(0, 0, 0, .2);
    }
    p,
    li {
        color: $primary-color-text;
        text-shadow: $text-shadow;
    }
    ul {
        list-style-type: none;
        /* li:before {
            content: '\25AA';
            margin-right: 0.5em;
        } */
    }
}

// Reveal Box
.reveal-box {
    width: $reveal-width;
    height: $reveal-height;
    @include bp-sm {
        width: $reveal-width-sm;
        height: $reveal-height-sm;
    }
    @include bp-xs {
        width: $reveal-width-xs;
        height: $reveal-height-xs;
    }
    &::before {
        width: $reveal-width - $depth;
        height: $reveal-height - $depth;
        @include bp-sm {
            width: $reveal-width-sm - $depth;
            height: $reveal-height-sm - $depth;
        }
        @include bp-xs {
            width: $reveal-width-xs - $depth;
            height: $reveal-height-xs - $depth;
        }
    }
    .left {
        width: $depth;
        height: $reveal-height - $depth;
        @include bp-sm {
            width: $depth;
            height: $reveal-height-sm - $depth;
        }
        @include bp-xs {
            width: $depth;
            height: $reveal-height-xs - $depth;
        }
    }
    .bottom {
        width: $reveal-width - $depth;
        height: $depth;
        @include bp-sm {
            width: $reveal-width-sm - $depth;
            height: $depth;
        }
        @include bp-xs {
            width: $reveal-width-xs - $depth;
            height: $depth;
        }
    }
    .box-content {
        width: $reveal-width - $depth;
        height: $reveal-height - $depth;
        @include bp-sm {
            width: $reveal-width-sm - $depth;
            height: $reveal-height-sm - $depth;
        }
        @include bp-xs {
            width: $reveal-width-xs - $depth;
            height: $reveal-height-xs - $depth;
        }
    }
    .img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: $reveal-height;
        display: block;
        clip-path: circle(0 at 50% 50%);
        @include bp-sm {
            height: $reveal-height-sm;
            clip-path: none;
        }
        @include bp-xs {
            height: $reveal-height-xs;
        }
    }
    .words {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $reveal-height - $depth;
        pointer-events: none;
        padding: 0 1em;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.from-small-viewport {
    .reveal-box {
        .words {
            transition: opacity .3s ease-in-out;
            background-color: $primary-color-dark;
            opacity: 1;
        }
        &:hover .words {
            opacity: 0 !important; // overwrites inline style
        }
    }
}

// Skills Box
.skills-box {
    width: $skills-width;
    height: $skills-height;
    @include bp-xs {
        width: $skills-width-xs;
        height: $skills-height-xs;
    }
    &:before {
        width: $skills-width - $depth;
        height: $skills-height - $depth;
        @include bp-xs {
            width: $skills-width-xs - $depth;
            height: $skills-height-xs - $depth;
        }
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .small-heading {
        @include font-size(200px);
        font-weight: 700;
        color: $white;
        opacity: .035;
        transform: rotate(35deg);
        text-align: center;
        position: relative;
        width: auto;
        margin: 0;
    }
    .left {
        width: $depth;
        height: $skills-height - $depth;
        @include bp-xs {
            width: $depth;
            height: $skills-height-xs - $depth;
        }
    }
    .bottom {
        width: $skills-width - $depth;
        height: $depth;
        @include bp-xs {
            width: $skills-width-xs - $depth;
            height: $depth;
        }
    }
    .box-content {
        width: $skills-width - $depth;
        height: $skills-height - $depth;
        @include bp-xs {
            width: $skills-width-xs - $depth;
            height: $skills-height-xs - $depth;
        }
    }
    svg {
        display: block;
        z-index: 1;
        position: relative;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 50%;
        margin-top: -65px;
        padding-right: 5px;
        path {
            fill: $accent-color;
        }
    }
    ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $gutterD2;
        width: 100%;
        list-style: none;
        overflow: hidden;
        margin-top: $gutter;
        z-index: 1;
        li {
            @include font-size(19px);
            display: inline-block;
            color: $primary-color-text;
            padding: 0 0 0 0;
            width: 100%;
            opacity: 0;
            transform: translateX(-150px);
            &::before {
                content: "\25FE";
            }
        }
    }
    .logo-to,
    .skill-text li {
        opacity: 0;
    }
}
