// Site Header
.site-header {
    background-color: rgba($primary-color-dark, .75);
    background-image: url('dist/assets/img/grid-3.png');
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    position: relative;
    width: 100%;
    height: $header-height;
    padding: $gutter;
    border-bottom: $depth solid $primary-color-shade-2;
    box-shadow: $box-shadow;
    overflow: hidden;
    z-index: $z-header;
    &::before {
        background-position: center top;
        opacity: .05;
    }
    nav {
        margin-left: auto;
        @include bp-md {
            @include font-size(14px);
            @include bp-sm {
                display: none;
            }
        }
        ul {
            @include font-size(18px);
            align-items: bottom;
            display: flex;
            justify-content: flex-end;
        }
        li {
            padding: 0 $gutter 0 0;
            &:last-child {
                padding: 0;
            }
        }
        a {
            color: $white;
            text-shadow: $text-shadow;
        }
    }
    .active a {
        //color: active-colour;
    }
    h1 {
        text-shadow: $text-shadow;
        margin-bottom: 0;
    }
}

.details {
    @include font-size(18px);
    float: left;
    margin-left: $gutter;
    span {
        float: left;
        clear: both;
        text-shadow: $text-shadow;
        &:last-child {
            color: $primary-color-light;
        }
    }
}
