// Site Header
.site-header {
    background-image: url('dist/assets/img/grid-3.png');
    background-color: rgba($primary-color-dark, 1);
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    position: relative;
    width: 100%;
    height: $header-height;
    padding: $gutter;
    border-bottom: $depth solid rgba($black, 0.6);
    box-shadow: $box-shadow;
    z-index: $z-header;
    @include bp-sm {
        align-items: center;
        justify-content: space-between;
        height: $header-height-sm;
        padding: 0 $gutterD2;
        border-bottom: none;
        box-shadow: $box-shadow;
    }
    &::before {
        background-position: center top;
        opacity: .05;
    }
    nav {
        margin-left: auto;
        transition: background-color .2s ease-out, background-image .2s ease-out;
            background-color: rgba($primary-color-dark, .75);
        @include bp-sm {
            position: absolute;
            top: $header-height-sm;
            left: 0;
            width: 100%;
            box-shadow: $box-shadow-sm;
        }
        &.sticky {
            background-image: url('dist/assets/img/grid-3.png');
            background-color: rgba($primary-color-dark, 1);
            position: fixed;
            top: 0;
            .scroll-btn {
                opacity: 1;
            }
            ul {
                @include bp-sm {
                    padding-right: 10%;
                }
                @include bp-xs {
                    padding-right: 12%;
                }
            }
        }
        ul {
            align-items: flex-end;
            display: flex;
            justify-content: flex-end;
            @include bp-sm {
                max-width: 420px;
                margin: 0 auto;
            }
        }
        li {
            padding: 0 $gutter 0 0;
            @include bp-sm {
                padding: 0;
                &::after {
                    content: '';
                    float: left;
                    margin: 0 $gutter;
                }
            }
            &:last-child {
                @include bp-sm {
                    &::after {
                        display: none
                    }
                }
                padding: 0;
            }
        }
        a {
            float: left;
            color: $white;
            text-shadow: $text-shadow;
            @include bp-sm {
                padding: .5em $gutterD2 .3em;
                height: 100%;
            }
        }
    }
    .active a {
        //color: active-colour;
    }
    h1 {
        text-shadow: $text-shadow;
        margin-bottom: 0;
    }
    .scroll-btn {
        position: absolute;
        top: 10px;
        right: $gutterD2;
        left: initial;
        transform: rotate(180deg);
        width: 22px;
        height: 22px;
        margin-left: 0;
        padding: 9px;
        border: 2px solid $divider-color;
        background-color: rgba($primary-color-dark, 0.2);
        opacity: 0;
        transition: none;
        &::before {
            @include font-size(20px);
            top: 55%;
        }
    }
}

//  Logo
header svg {
    display: block;
    width: 75px;
    margin-right: 1em;
    filter: blur(.1px);
    @include bp-sm {
        width: 50px;
    }
}

.st0,
.st3 {
    fill: $accent-color;
}

.st1,
.st2 {
    fill: rgba($white, 0.2);
}

// Name and Job title
.details {
    margin-left: $gutter;
    @include bp-sm {}
    span {
        float: left;
        clear: both;
        text-shadow: $text-shadow;
        @include bp-sm {
            float: right;
        }
        &:last-child {
            color: $primary-color-light;
        }
    }
}
