    .site-main {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 10px $gutter;
    @include bp-md {
        max-width: 100%;
    }
}

.main-heading {
    margin: $gutter 0;
    padding: 0 0 $gutter 0;
    
    border-bottom: 1px solid $divider-color;
    @include bp-sm {
        @include font-size(26px);
    }
}

#skills {
    @include visually-hidden;
}

#skill-switch {
    color: $accent-color;
}

.content {
    margin-bottom: $gutter;
    .large-heading {
        text-transform: uppercase;
        margin-bottom: .75em;
    }
}
