.site-main {
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 0 0 $gutter;
    @include bp-md {
        max-width: 100%;
    }
}

section:first-of-type {
    height: 100vh;
    width: 100%;
}

// Top main heading area featuring large background image
.main-heading {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $gutterM2;
    border-bottom: 10px solid $divider-color;
    background: linear-gradient(to bottom, rgba($primary-color, 1) 0%, rgba($primary-color-dark, 1) 100%);
    overflow: hidden;
    margin-top: $header-height - ($header-height*2);
    .parallax {
        @include main-bg;
        background-position: center center;
        top: 0;
        opacity: .1;
    }
    h1 {
        margin: $gutter 0;
        padding: ($header-height / 2) 0 0;
        width: 730px;
        @include bp-lg {
            padding: ($header-height / 2) 0 0;
        }
        @include bp-sm {

            padding: ($header-height / 2) $gutterD2 0;
        }
        @include bp-xs {
            @include font-size(26px);
            width: auto;
        }
    }
}

// Skill switcher text
#skills {
    @include visually-hidden;
}

#skill-switch {
    color: $accent-color;
}

// Main content areas
.content {
    margin-bottom: $gutter;
    .large-heading {
        text-transform: uppercase;
        margin-bottom: .75em;
    }
}

.parallax {}
