$z-logo-letters: 1;
$logo-size: 72px;
$line-thickness: 4px;
$line-colour: $primary-text-color;
$text-colour: $primary-text-color;
$circle-background: $primary-color;
$circle-border: $primary-text-color;
$text-size: $logo-size / 2;
.logo {
    width: $logo-size / 1.3333;
    height: $logo-size / 1.3333;
    position: relative;
    float: left;
    display: block;
    cursor: pointer;
}

.logo > div {
    color: $text-colour;
    font-size: $text-size;
    position: absolute;
    width: $logo-size;
    height: $logo-size;
    overflow: hidden;
    transform: translate(25%);
    top: -20%;
    left: -50%;
}

.lines {
    width: 3px;
}

.text {
    line-height: $logo-size;
    width: $text-size;
    height: $text-size;
    text-align: center;
    width: $logo-size;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover::after {
        background-color: $accent-color;
    }
    &::after {
        content: '';
        border: $line-thickness $circle-border solid;
        position: absolute;
        border-radius: 50%;
        background-color: $circle-background;
        top: 52%;
        left: 12.5%;
        transform: translateY(-50%);
        width: 75%;
        height: 75%;
        transition: background-color, ease-out 0.2s;
    }
    &::before {
        content: '';
        width: 100%;
        height: $line-thickness;
        background-color: $line-colour;
        transform: translate(-50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
    }
    span {
        //font-family: "Courier New", Courier, monospace;
        position: absolute;
        top: 2%;
        left: 28%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: -9px;
        line-height: $logo-size;
        z-index: $z-logo-letters;
        &:last-child {
            top: 2%;
            left: 45%;
        }
    }
}
