.svg-container {
    position: relative;
    width: 800px;
    height: 533px;
    margin: 0 auto;
    padding: 60px 30px;
    background-color: $primary-color-dark;
    overflow: hidden;
}

svg {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    path {
        fill: $black;
    }
}

#css-tech {
    position: absolute;
    top: 116px;
    left: 100px;
    width: 100%;
    list-style: none;
    opacity: 0;
    li {
        float: left;
        display: inline-block;
        color: $white;
        font-size: 30px;
        padding: 0 0 .2em;
        width: 100%;
    }
}

#laptop,
#css3,
#html5,
#javascript {
    visibility: hidden;
}
