<div class="box reveal-box">
    <div class="left"></div>
    <div class="svg-container">
        <img class="img" src="http://placekitten.com/450/300" alt="" />
        <div class="words">
            <header>
                <h2 class="split">This is</h2>
                <p class="split">Some more text some more text some more text some more text</p>
            </header>
            <h3 class="split">Some more text</h3>
            <ul>
                <li class="split">&#9726; Some text</li>
                <li class="split">&#9726; Some text</li>
                <li class="split">&#9726; Some text</li>
                <li class="split">&#9726; Some text</li>
                <li class="split">&#9726; Some text</li>
            </ul>
        </div>
    </div>
    <div class="bottom"></div>
</div>
