<div class="box reveal-box">
    <div class="left"></div>
    <div class="box-content">
        <img class="img" src="http://placekitten.com/450/300" alt="" />
        <div class="words">
            <header>
                <h2 class="medium-heading">This is</h2>
                <p>Some more text some more text some more text some more text Some more text some more text some more text some more text</p>
            </header>
            <h3 class="small-heading">Some more text</h3>
            <ul>
                <li>&#9726; Some text</li>
                <li>&#9726; Some text</li>
                <li>&#9726; Some text</li>
                <li>&#9726; Some text</li>
                <li>&#9726; Some text</li>
                <li>&#9726; Some text</li>
            </ul>
        </div>
    </div>
    <div class="bottom"></div>
</div>
