@@include('./partials/_header.html')
<main class="site-main">
    <section class="main-heading">
        <div class="parallax"></div>
        <h1 class="large-heading">A meticulous web developer from Leeds with a passion for <br><span id="skill-switch">Automation</span></h1>
        <a href="#skills-section" class="scroll-btn"></a>
    <ul id="skills">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Responsive Web Design</li>
        <li>Web Standards</li>
        <li>Automation</li>
    </ul>
    </section>
    <section class="content about">
        <div class="parallax"></div>
        <h2 id="about-section" class="large-heading">About Me</h2>
            <p>Passionate about Front End Web Development, with 4 years of industry experience. Always on top of the latest front end technologies, whilst applying them to my work to produce high performing, visually pleasing websites. Have produced work for many high profile clients such as - Walmart, <wbr>Asda, 188Bet, Coral, Co-op, and Jet2.</p>
        </div>
    </section>
    <section class="content skills">
        <div class="parallax"></div>
        <h2 id="skills-section" class="large-heading">Skills</h2>
        <div class="boxes">
            @@include('./partials/modules/_skills-box-cms.html')
            @@include('./partials/modules/_skills-box-skillset.html')
            @@include('./partials/modules/_skills-box-web-stack.html')
        </div>
    </section>
    <section class="content reveal">
        <h2 id="portfolio-section" class="large-heading">Portfolio</h2>
        <div class="boxes">
            @@include('./partials/modules/_reveal-box.html')
            @@include('./partials/modules/_reveal-box.html')
            @@include('./partials/modules/_reveal-box.html')
        </div>
    </section>
</main>
@@include('./partials/_footer.html')
