@@include('./partials/_header.html')
<main class="site-main">
    <section class="main-heading">
    <div class="parallax"></div>
        <h1 class="large-heading">A meticulous web developer from Leeds with a passion for <br><span id="skill-switch">Automation</span></h1>
        <!-- <h1 class="large-heading">Test Test Test Test Test Test Test <br><span id="skill-switch">Test</span></h1> -->
    <ul id="skills">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Responsive Web Design</li>
        <li>Web Standards</li>
        <li>Automation</li>
        <!-- <li>Test 1</li>
        <li>Test 2</li>
        <li>Test 3</li>
        <li>Test 4</li>
        <li>Test 5</li>
        <li>Test 6</li> -->
    </ul>
    </section>
    <section class="content skills">
        <h2 class="large-heading">Skills</h2>
        <div class="boxes">
            @@include('./partials/modules/_skills-box.html')
            @@include('./partials/modules/_skills-box.html')
            @@include('./partials/modules/_skills-box.html')
        </div>
    </section>
    <section class="content reveal">
        <h2 class="large-heading">Portfolio</h2>
        <div class="boxes">
            @@include('./partials/modules/_reveal-box.html')
            @@include('./partials/modules/_reveal-box.html')
            @@include('./partials/modules/_reveal-box.html')
        </div>
    </section>
</main>
@@include('./partials/_footer.html')
