@@include('./partials/_header.html')
<main class="site-main">
    <header class="main-heading">
        <div>
            <h1 class="large-heading"><!-- A meticulous web developer from Leeds with a passion for <br><span id="skill-switch">Automation</span> --></h1>
        </div>
    </header>
    <ul id="skills">
        <!-- <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Responsive Web Design</li>
        <li>Web Standards</li>
        <li>Automation</li> -->
    </ul>
    <section class="content">
        <h2 class="large-heading"><!-- Skills --></h2>
        <div class="boxes">
            @@include('./partials/modules/_skills-box.html')
            @@include('./partials/modules/_skills-box.html')
            @@include('./partials/modules/_skills-box.html')
        </div>
    </section>
    <section class="content">
        <h2 class="large-heading"><!-- Portfolio --></h2>
        <div class="boxes">
            @@include('./partials/modules/_reveal-box.html')
            @@include('./partials/modules/_reveal-box.html')
            @@include('./partials/modules/_reveal-box.html')
        </div>
    </section>
</main>
@@include('./partials/_footer.html')
