<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GSAP</title>
    <meta name="description" content="Page Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Generate all favicons at http://realfavicongenerator.net/ -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="site-header">
        <h1 class="large-heading" style="padding: 0 .1em;">GSAP Experiments</h1>
    </header>

