<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Luke Fryer - Front end developer</title>
    <meta name="description" content="Page Description" />
    <meta name="viewport" content="width=device-width">
    <!-- Generate all favicons at http://realfavicongenerator.net/ -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="site-header">
        @@include('./svgs/_logo.html')
        <div class="details">
            <span>Luke Fryer</span>
            <span>Front end developer</span>
        </div>
        <nav>
            <!-- <a href="#" class="scroll-btn"></a> -->
            <div class="scroll-btn"></div>
            <ul class="menu">
                <li><a href="#about-section">About</a></li>
                <li><a href="#skills-section">Skills</a></li>
                <li><a href="#portfolio-section">Portfolio</a></li>
                <li><a href="#code-section">Code</a></li>
            </ul>
        </nav>
    </header>
